# Copy this file to:
#   ~/.config/llm_collector/secret.env
# Then update the values for your machine.
#
# You can also run ./setup.sh from this project directory and it will create
# or update that file for you, then regenerate extension/config.local.js.

# setup.sh will replace this with a generated random key on first run.
API_KEY='CHANGE_ME_TO_A_RANDOM_LONG_VALUE' # pragma: allowlist secret
COLLECTOR_URL='http://127.0.0.1:9000'
LLM_COLLECTOR_DATA_DIR='~/.local/state/llm_collector'
BUCKET_TIMEZONE='America/New_York'
